body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.article_section{
    max-width:800px;
    color : blue;
    margin:0 auto;
    font-family:Cormorant;
    font-size: 300%;
}
